.lc-input-settings{
    border-radius: 0px !important;
}
.l-settings-image-preview-container{
    margin-left: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    position: relative;
}
.l-protected-settings{
    display: flex;
    flex-direction: column;
    gap: 1em;

}
.l-settings-image-preview{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.274);
}

.l-custom-input{
    visibility: hidden;
}
.l-file-upload-label{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(21, 195, 234);
    position: absolute;
    cursor: pointer;
    font-size: 1.125rem;
    right: 5%;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.l-submit-settings-btn{
    padding: 0.4em 1em;
    text-align: center;
    background-color: black;
    color: white;
    height: 37px;
    font-size: 1.2rem;
    align-self: center;
    border: none;
    outline: none;
}

.l-submit-settings-btn:hover,
.l-submit-settings-btn:focus{
    opacity: 0.7;
    cursor: pointer;
    transition: ease 0.5s;
}

@media (max-width:500px) {
    .l-settings-container{
        padding: 0 1em;
    }
    html{
        font-size: 13px;
    }
    
}